.site-footer {
    height: 100px;
    margin-top: auto; /* pousse le footer vers le bas */
    
    text-align: center;
    border-top: 2px solid #9ec9ef;
    color: black;

    display: flex;
    align-items: center;      /* centre verticalement */
    justify-content: center;   /* centre horizontalement */
}